.outer{
  padding-left: 10%;
  padding-right: 10%;
}
.container {
  background-color: white;
  border: solid #868e96;
  margin-top: 5%;
}


label {
  width: 180px;
  clear: left;
  text-align: left;
  padding-right: 10px;
  float: left;
}

.section{
  margin: auto;
  padding-top: 5px;
  padding-bottom: 5px;
}

.add-title{
    text-align: center;
    margin: 5%;
}

.submit-button{
    text-align:center;
    padding: 10px;
}

.input-box{
  width: 100%;
}

h1 {
  font-family: 'Indie Flower', cursive !important;
}  

.app-title {
  text-align: center;
  background-color: white !important;
  color: #2780E3;
  border-bottom: 1px solid #868e96;
}
