h1 {
    font-family: 'Indie Flower', cursive !important;
}  

.app-title {
    text-align: center;
    background-color: white !important;
    color: #2780E3;
    border-bottom: 1px solid #868e96;
}

.change-title {
    text-align: center;
    margin-top: 5%;
}

.submit-button{
    margin-top: 10px;
    text-align: center;
}

.space{
    margin: 15%;
}