.outer {
    border-width: medium;
    padding-right: 10%;
    padding-left: 10%;
}

.container {
    margin: auto;
    background-color: #f5f5f5;
    border: 1px solid grey;
}

.add-button{
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
}

.view-cards-title {
    text-align: center;
    margin-top: 5%;
}

ul {
    list-style-type: none;
}

li {
    margin-top: 5px;
}

.space-between-buttons {
    margin: 5px;
}

.card-row {
    margin-left: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-right: 5%;
}

.card>.title {
    text-align: center;
}

.card>p {
    text-align: center;
}

.card>span {
    text-align: center;
}

.card-list {
    width: 100%;
}

.card {
    padding-top: 5px;
    padding-bottom: 5px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1), 0 1px 1px 0 rgba(0, 0, 0, 0.1);
}

h1 {
    font-family: 'Indie Flower', cursive !important;
}  

.app-title {
    text-align: center;
    background-color: white !important;
    color: #2780E3;
    border-bottom: 1px solid #868e96;
}