.outer{
  border-width: medium;
  padding: 10%;
}

.container {
  background-color: white;
  border-style: solid;
  border-color: grey;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 10px;
}

.app-title{
    text-align: center;
}

.nav-item{
    margin:auto;
}

.app-title{
    text-align:center
}
