.outer {
    border-width: medium;
}

.container {
    background-color: white;
}

.app-title {
    text-align: center;
}

.nav-item {
    margin: auto;
    color: #2780E3;
}

.app-title {
    text-align: center;
    background-color: #2780E3 !important;
    color: #fff;
}

.current-deck {
    text-align: center;
    font-weight: 500px;
    font-size: 16px;
}

#logout {
    color: white;
}
