.outer {
    border-width: medium;
    padding: 10%;
}

.container {
    margin: auto;
    background-color: white;
    border-style: 1px solid grey;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 10px;
}

.view-cards-title {
    text-align: center;
    padding: 10px;
}

ul {
    list-style-type: none;
    padding-left: 10px;
}
